footer {
  padding: 50px 10px;
  text-align: center;
  font-size: small;
  display: block;
}

footer a.nolink {
  text-decoration: none;
  color: black;
}

footer span.emoji {
  letter-spacing: 0.5em; 
}

footer span.divider {
  margin: 0px 3px;
}