nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-background-color);
  border-bottom: 2px solid var(--dark-accent-color);
}

nav > .nav-logo {
  margin: 16px;
  font-family: "Comfortaa", cursive;
  font-size: xx-large;
  font-weight: bold;
  line-height: 1.1em;
  flex-shrink: 0;
  min-width: 310px;
}

nav .selected-menu {
  font-size: large;
  font-weight: normal;
}

nav ul, nav menu {
  margin: 0px;
  padding: 16px 4px;
  list-style: none;
}

nav menu {
  flex-grow: 1;
}

nav .languages {
  display: flex;
  flex-direction: row;
}

nav a {
  vertical-align: middle;
  flex-shrink: 0;
  text-decoration: none;
}

nav menu a {
  padding: 5px 12px;
  margin: 0px 4px;
  color: black;

  transition: background-color 400ms linear, color 400ms linear;
}

nav menu a:hover, nav menu li.selected a {
  background-color: var(--accent-color);
  color: var(--background-color);
}

nav a:focus {
  outline-color: var(--dark-accent-color);
  outline-width: 2px;
  outline-style: solid;
}

nav .languages a {
  padding: 5px;
}