nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav > .nav-logo {
  margin: 16px;
  font-family: "Comfortaa", cursive;
  font-size: xx-large;
  line-height: 1.1em;
  flex-shrink: 0;
}

nav ul {
  margin: 0px;
  column-gap: 4px;
  padding: 16px;
  /* background-color: aqua; */
}

nav ul > a {
  vertical-align: middle;
  flex-shrink: 0;
}
