<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/nav.css">

    <title>{{title}}</title>
</head>

<body>
    <nav>
        <div class="nav-logo">
            My Albums
        </div>
        <ul>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
            <a>Mexico</a>
            <a>Paris</a>
        </ul>
    </nav>
    <main>{{ content }}</main>
</body>

</html>