<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Mukta:wght@200&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/albums-row.css">
    <link rel="stylesheet" href="/css/album-item.css">

    <title>{{title}}</title>
</head>

<body>
    <nav>
        <div class="nav-logo">
            My Albums
            <span class="selected-menu">
                {% if menu == "overview" %}
                : Overview
                {% elsif menu == "all" %}
                : All
                {% elsif menu == "by-decade" %}
                : By Decade
                {% elsif menu == "by-tag" %}
                : By Tag
                {% elsif menu == "by-duration" %}
                : By Duration
                {% endif %}
            </span>
        </div>
        <ul class="scrollable-row">
            {% if menu != "overview" %}
            <a href="/" aria-label="Albums Overview">Overview</a>
            {% endif %}
            {% if menu != "all" %}
            <a href="/albums_all" aria-label="All Albums">All</a>
            {% endif %}
            {% if menu != "by-decade" %}
            <a href="/albums_by_decade" aria-label="Albums by decade">By Decade</a>
            {% endif %}
            {% if menu != "by-tag" %}
            <a href="/albums_by_tag" aria-label="Albums by tag">By Tag</a>
            {% endif %}
            {% if menu != "by-duration" %}
            <a href="/albums_by_duration" aria-label="Albums by duration">By Duration</a>
            {% endif %}
        </ul>
    </nav>
    <main>{{ content }}</main>
</body>

</html>