<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💽</text></svg>">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Mukta:wght@200&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/{{locale}}/css/base.css">
    <link rel="stylesheet" href="/{{locale}}/css/nav.css">
    <link rel="stylesheet" href="/{{locale}}/css/footer.css">
    <link rel="stylesheet" href="/{{locale}}/css/albums-row.css">
    <link rel="stylesheet" href="/{{locale}}/css/albums-wall.css">
    <link rel="stylesheet" href="/{{locale}}/css/album-item.css">

    <title>{{title}}</title>
</head>

<body>
    <nav>
        <div class="nav-logo">
            My Albums
            <span class="selected-menu">
                {{ currentMenuTag | extractLogoLabel: topMenuItems }}
            </span>
        </div>
        <menu class="scrollable-row">
            {%- for menuItem in topMenuItems %}
            <li class="{{ menuItem.tag | selectedWhenEqualsTo: currentMenuTag }}">
                <a href="/{{ locale }}/{{ menuItem.relativeHref }}" aria-label="{{ menuItem.ariaLabel }}">
                    {{ menuItem.label }}
                </a>
            </li>
            {% endfor -%}
        </menu>
        <ul class="languages">
            {%- for language in languages %}
            {%- if language.localeCode != locale %}
            <li>
                <a href="/{{ language.localeCode }}/" aria-label="{{ language.label }}">
                    {{ language.flag }}
                </a>
            </li>
            {%- endif %}
            {% endfor -%}
        </ul>
    </nav>
    <main>{{ content }}</main>
    <footer>
    </footer>
</body>

</html>