<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Mukta:wght@200&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/albums-row.css">
    <link rel="stylesheet" href="/css/albums-wall.css">
    <link rel="stylesheet" href="/css/album-item.css">

    <title>{{title}}</title>
</head>

<body>
    <nav>
        <div class="nav-logo">
            My Albums
            <span class="selected-menu">
                {{ menu | extractLogoLabel: topMenuItems }}
            </span>
        </div>
        <ul class="scrollable-row">
            {%- for menuItem in topMenuItems %}
            <a href="{{ menuItem.relativeHref }}" aria-label="{{ menuItem.ariaLabel }}">{{ menuItem.label }}</a>
            {% endfor -%}
        </ul>
    </nav>
    <main>{{ content }}</main>
    <footer>
    </footer>
</body>

</html>